#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
}

#file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  grid-auto-rows: 500px;
}

#space {
  height: 250px;
  width: 250px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}